body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
}

header {
  text-align: center;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: calc(50% - 10px);
  padding: 15px;
  box-sizing: border-box;
}

.product-image h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.product-img {
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-description p,
.product-price p {
  color: #555;
  font-size: 20px;
  text-align: center;
}

.product-details h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #444;
}

.product-details ul {
  list-style-type: none;
  padding: 0;
}

.product-details ul li {
  padding: 5px 0;
}

.product-details ul li strong {
  color: #333;
}

.add-to-cart button {
  width: 100%;
  background-color: #28a745;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart button:hover {
  background-color: #218838;
}

.product-rating h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-rating form input[type="radio"] {
  margin: 0 5px;
}

input[type="radio"] {
  transform: scale(1.5);
  cursor: pointer;
}

/* responsive design */
@media (max-width: 992px) {
  .product {
    width: calc(50% - 20px); /* Two products per row */
  }
}

@media (max-width: 768px) {
  #product-list {
    flex-direction: row;
    gap: 20px;
  }
  .product {
    width: calc(100% - 20px); /* One product per row */
  }
}
